##### Data Dictionary

| Column Name           | Description                                   |
| --------------------- | --------------------------------------------- |
| date                  | The specific day of data recording            |
| steps                 | Total daily step count                        |
| weight                | Body weight measurement (in kg)               |
| resting_heart_rate    | Heart beats per minute while at complete rest |
| sleep_hours           | Total daily sleep duration                    |
| active_minutes        | Total time spent in physical activity         |
| total_calories_burned | Total daily energy expenditure                |
| fat_burn_minutes      | Time in 50-69% of max heart rate zone         |
| cardio_minutes        | Time in 70-84% of max heart rate zone         |
| peak_minutes          | Time in 85%+ of max heart rate zone           |
| workout_type          | Category of exercise performed                |
| workout_duration      | Length of exercise session in minutes         |
| workout_calories      | Energy expended during workout                |
| workout_avg_hr        | Mean heart rate during exercise               |
| workout_max_hr        | Highest heart rate during exercise            |

Import the required Python libraries - ```pandas``` for data analysis and ```plotly.express``` for interactive data visualization

In [1]:
import pandas as pd
import plotly.express as px

#### Exploratory Data Analysis (EDA)

Read in the ```fitness_data.csv``` file using pandas, and print out the first 5 coloumns to observe a sample of the data in the dataset.

In [16]:
fitness_data = pd.read_csv('fitness_data.csv')
fitness_data.head()

,date,weight,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes
0,7/1/24,75.248357,6829.0,63.68,7.03,66.0,664.0,Strength Training,68.28,641.120000,143.67,171.17,33.0,19.0,13.0
1,7/2/24,74.914564,7741.0,58.63,7.85,66.0,660.0,Rest,0.00,0.000000,0.00,0.00,33.0,19.0,13.0
2,7/3/24,75.140000,8227.0,58.47,7.53,87.0,873.0,Strength Training,34.34,366.564833,138.63,163.86,43.0,26.0,17.0
3,7/4/24,75.200000,13262.0,72.51,4.63,111.0,1113.0,Running,62.74,662.040000,152.04,168.87,55.0,33.0,22.0
4,7/5/24,75.270000,9377.0,73.32,5.38,79.0,790.0,Strength Training,77.88,677.010000,144.06,167.28,39.0,23.0,15.0

As a first step of cleaning up the dataset, check for any missing values.

In [17]:
# Check for missing values in the dataset
missing_values = fitness_data.isnull().sum()
missing_values

date                     0
weight                   6
steps                    6
resting_heart_rate       6
sleep_hours              6
active_minutes           6
total_calories_burned    6
workout_type             6
workout_duration         6
workout_calories         6
workout_avg_hr           6
workout_max_hr           6
fat_burn_minutes         6
cardio_minutes           6
peak_minutes             6
dtype: int64

Some missing values were identified, check where these are in the dataset, to see if there are any patterns, etc.

In [18]:
# Show rows with missing values
rows_with_missing_values = fitness_data[fitness_data.isnull().any(axis=1)]
rows_with_missing_values

,date,weight,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes
150,11/28/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,11/29/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,11/30/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,12/24/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,12/25/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,12/26/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop the rows with missing data, to clean up the dataset.

In [19]:
fitness_data = fitness_data.dropna(axis=0)

To explore the dataset further, and look for any outliers, etc., print out some summary statistics.

In [23]:
# Describe dataset
summary_statistics = fitness_data.describe()
summary_statistics

,weight,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_duration,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes
count,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,74.838842,8476.927374,64.926538,7.511456,85.128492,853.396648,38.227039,384.143224,129.950615,148.408547,42.284916,25.100559,16.636872
std,1.817232,2350.241475,4.765610,1.061339,22.242287,222.456798,19.778319,202.061761,37.688990,42.916258,11.133124,6.703257,4.442768
min,71.110000,3207.000000,50.380000,3.170000,30.000000,303.000000,0.000000,0.000000,0.000000,0.000000,15.000000,9.000000,6.000000
25%,73.130000,6823.000000,61.755000,6.995000,71.000000,711.500000,26.810000,262.480000,130.790000,148.850000,35.000000,21.000000,14.000000
50%,75.269587,8524.000000,64.710000,7.590000,84.000000,841.000000,34.340000,350.910000,140.420000,159.560000,42.000000,25.000000,16.000000
75%,76.530000,9704.500000,67.610000,8.055000,98.500000,988.000000,46.850000,493.370000,146.915000,168.080000,49.000000,29.000000,19.000000
max,78.170000,15724.000000,80.990000,9.780000,157.000000,1573.000000,94.290000,1072.200000,160.240000,187.550000,78.000000,47.000000,31.000000

Check data types of each coloumn.

In [24]:
# Print data types
data_types = fitness_data.dtypes
data_types

date                      object
weight                   float64
steps                    float64
resting_heart_rate       float64
sleep_hours              float64
active_minutes           float64
total_calories_burned    float64
workout_type              object
workout_duration         float64
workout_calories         float64
workout_avg_hr           float64
workout_max_hr           float64
fat_burn_minutes         float64
cardio_minutes           float64
peak_minutes             float64
dtype: object

The date coloumn as an object will prevent datetime manipulations, so convert this coloumn into a datetime type.

In [28]:
# Convert date coloumn to datetime type
fitness_data['date'] = pd.to_datetime(fitness_data['date'], format='%m/%d/%y')
fitness_data.dtypes

date                     datetime64[ns]
weight                          float64
steps                           float64
resting_heart_rate              float64
sleep_hours                     float64
active_minutes                  float64
total_calories_burned           float64
workout_type                     object
workout_duration                float64
workout_calories                float64
workout_avg_hr                  float64
workout_max_hr                  float64
fat_burn_minutes                float64
cardio_minutes                  float64
peak_minutes                    float64
dtype: object

#### Feature Engineering

Update coloumn names, so that they are more descriptive.

In [29]:
# Rename the 'weight' and 'workout_duration' coloumns to more descriptive names
fitness_data.rename(columns={'weight': 'body_weight_kg', 'workout_duration': 'workout_duration_minutes'}, inplace=True)
fitness_data.head()

,date,body_weight_kg,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration_minutes,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes
0,2024-07-01,75.248357,6829.0,63.68,7.03,66.0,664.0,Strength Training,68.28,641.120000,143.67,171.17,33.0,19.0,13.0
1,2024-07-02,74.914564,7741.0,58.63,7.85,66.0,660.0,Rest,0.00,0.000000,0.00,0.00,33.0,19.0,13.0
2,2024-07-03,75.140000,8227.0,58.47,7.53,87.0,873.0,Strength Training,34.34,366.564833,138.63,163.86,43.0,26.0,17.0
3,2024-07-04,75.200000,13262.0,72.51,4.63,111.0,1113.0,Running,62.74,662.040000,152.04,168.87,55.0,33.0,22.0
4,2024-07-05,75.270000,9377.0,73.32,5.38,79.0,790.0,Strength Training,77.88,677.010000,144.06,167.28,39.0,23.0,15.0

Add a new coloumn that converts body weight into pounds.

In [30]:
fitness_data['body_weight_lbs'] = fitness_data['body_weight_kg'] * 2.20462
fitness_data.head()

,date,body_weight_kg,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration_minutes,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes,body_weight_lbs
0,2024-07-01,75.248357,6829.0,63.68,7.03,66.0,664.0,Strength Training,68.28,641.120000,143.67,171.17,33.0,19.0,13.0,165.894033
1,2024-07-02,74.914564,7741.0,58.63,7.85,66.0,660.0,Rest,0.00,0.000000,0.00,0.00,33.0,19.0,13.0,165.158145
2,2024-07-03,75.140000,8227.0,58.47,7.53,87.0,873.0,Strength Training,34.34,366.564833,138.63,163.86,43.0,26.0,17.0,165.655147
3,2024-07-04,75.200000,13262.0,72.51,4.63,111.0,1113.0,Running,62.74,662.040000,152.04,168.87,55.0,33.0,22.0,165.787424
4,2024-07-05,75.270000,9377.0,73.32,5.38,79.0,790.0,Strength Training,77.88,677.010000,144.06,167.28,39.0,23.0,15.0,165.941747

Add a new coloumn to indicate the day of the week, and add another coloumn to indicate if it is the weekend or not.

In [33]:
# Add a new coloumn to indicate day of the week
fitness_data['day_of_week'] = fitness_data['date'].dt.day_name()

# Add a new coloumn to indicate weekend
fitness_data['is_weekend'] = fitness_data['day_of_week'].isin(['Saturday', 'Sunday'])

fitness_data.tail()

,date,body_weight_kg,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration_minutes,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes,body_weight_lbs,day_of_week,is_weekend
180,2024-12-28,77.69,5883.0,62.33,9.78,71.0,712.0,Strength Training,94.29,1072.20,131.24,154.21,35.0,21.0,14.0,171.276928,Saturday,True
181,2024-12-29,77.61,8639.0,66.12,6.55,87.0,874.0,Running,41.47,419.24,139.88,157.09,43.0,26.0,17.0,171.100558,Sunday,True
182,2024-12-30,77.49,8587.0,61.23,8.02,87.0,874.0,Rest,0.00,0.00,0.00,0.00,43.0,26.0,17.0,170.836004,Monday,False
183,2024-12-31,77.55,10408.0,59.33,4.57,90.0,900.0,HIIT,26.73,267.90,133.59,146.81,45.0,27.0,18.0,170.968281,Tuesday,False
184,2025-01-01,78.17,3257.0,63.24,3.17,78.0,784.0,Rest,0.00,0.00,0.00,0.00,39.0,23.0,15.0,172.335145,Wednesday,False

Add a new coloumn (sleep_debt) that calculates the difference between sleep hours compared to the target (7.5 hours) and add an additional coloumn to calculate the cumulative value of this.

In [35]:
# Add a coloumn that calculates difference between sleep hours and target
fitness_data['sleep_debt'] = fitness_data['sleep_hours'] - 7.5

# Add a cumulative sleep debt coloumn
fitness_data['cumulative_sleep_debt'] = fitness_data['sleep_debt'].cumsum()

fitness_data.head()

,date,body_weight_kg,steps,resting_heart_rate,sleep_hours,active_minutes,total_calories_burned,workout_type,workout_duration_minutes,workout_calories,workout_avg_hr,workout_max_hr,fat_burn_minutes,cardio_minutes,peak_minutes,body_weight_lbs,day_of_week,is_weekend,sleep_debt,cumulative_sleep_debt
0,2024-07-01,75.248357,6829.0,63.68,7.03,66.0,664.0,Strength Training,68.28,641.120000,143.67,171.17,33.0,19.0,13.0,165.894033,Monday,False,-0.47,-0.47
1,2024-07-02,74.914564,7741.0,58.63,7.85,66.0,660.0,Rest,0.00,0.000000,0.00,0.00,33.0,19.0,13.0,165.158145,Tuesday,False,0.35,-0.12
2,2024-07-03,75.140000,8227.0,58.47,7.53,87.0,873.0,Strength Training,34.34,366.564833,138.63,163.86,43.0,26.0,17.0,165.655147,Wednesday,False,0.03,-0.09
3,2024-07-04,75.200000,13262.0,72.51,4.63,111.0,1113.0,Running,62.74,662.040000,152.04,168.87,55.0,33.0,22.0,165.787424,Thursday,False,-2.87,-2.96
4,2024-07-05,75.270000,9377.0,73.32,5.38,79.0,790.0,Strength Training,77.88,677.010000,144.06,167.28,39.0,23.0,15.0,165.941747,Friday,False,-2.12,-5.08